/* Targets the URL bar and its tracker icon, site information, etc. */ 

/* Removes borders, increases margins to compensate */
toolbox {
  border: 0px !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Lightens and spaces out identity boxes */
#identity-box {
  font-size: small;
  opacity: 0.6;
}
#identity-icon-box, #identity-permission-box {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
